.Albums-Container {
	margin-left: 5px;
}

.Album-Container {
	overflow: hidden !important;
}

.Album {
	position: relative;
	height: 300px;
	width: 300px;
}

.Album .Album-Info {
	position: absolute;
	bottom: auto;
	width: 300px;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.Album-Container:hover .Album-Info {
	opacity: 1;
	bottom: 0;
	-webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.Album-Info h1 {
	font-size: 1.5em;
}
.Album-Info h2 {
	font-size: 1em;
}